{% load static %}
<footer class="footer">
    <div class="footer-top aos" data-aos="fade-up">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget footer-about">
                        <div class="footer-logo">
                            <img src="{% static 'assets/img/logo.png' %}" alt="CuriosityBytes logo">
                        </div>
                        <div class="footer-about-content">
                            <p>CuriosityBytes is your gateway to personalized learning through curated educational videos. Discover, engage, and grow with our intelligent recommendation system tailored to your interests.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget footer-contact">
                        <h2 class="footer-title">Reach Us</h2>
                        <div class="footer-contact-info">
                            <div class="footer-address">
                                <img src="{% static 'assets/img/icon/icon-20.svg' %}" alt="Location" class="img-fluid">
                                <p>IIT Bombay, Powai<br>Mumbai, Maharashtra 400076</p>
                            </div>
                            <p>
                                <img src="{% static 'assets/img/icon/icon-19.svg' %}" alt="Email" class="img-fluid">
                                <a href="mailto:support@curiositybytes.tech">support@curiositybytes.tech</a>
                            </p>
                            <p class="mb-0">
                                <img src="{% static 'assets/img/icon/icon-21.svg' %}" alt="Phone" class="img-fluid"> +91 93134 91381
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6">
                        <div class="privacy-policy">
                            <ul>
                                <li><a href="terms-of-service.html">Terms of Service</a></li>
                                <li><a href="privacy-policy.html">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="copyright-text">
                            <p class="mb-0">&copy; 2024 CuriosityBytes. All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>