{% load static %}
<!DOCTYPE html>
<html lang="en">
  <!-- [Head] start -->
  {% include 'structure/head-auth.html' %}
  <!-- [Head] end -->

  <!-- [Body] Start -->
  <body>
    <div class="main-wrapper log-wrap">
      <div class="row">
        <div class="col-md-6 login-bg">
          <div class="owl-carousel login-slide owl-theme">
            <div class="welcome-login">
              <div class="login-banner">
                <img src="{% static 'assets/img/login-img.png' %}" class="img-fluid" alt="Logo">
              </div>
              <div class="mentor-course text-center">
                <h2>Welcome to <br>CuriosityBytes Courses. </h2>
                <p>Start discovering your interests at CuriosityBytes</p>
              </div>
            </div>
            <div class="welcome-login">
              <div class="login-banner">
                <img src="{% static 'assets/img/login-img.png' %}" class="img-fluid" alt="Logo">
              </div>
              <div class="mentor-course text-center">
                <h2>Welcome to <br>CuriosityBytes Courses. </h2>
                <p>Learn about all the path available to you at CuriosityBytes</p>
              </div>
            </div>
            <div class="welcome-login">
              <div class="login-banner">
                <img src="{% static 'assets/img/login-img.png' %}" class="img-fluid" alt="Logo">
              </div>
              <div class="mentor-course text-center">
                <h2>Welcome to <br>CuriosityBytes Courses. </h2>
                <p>Carve your successful future with CuriosityBytes</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 login-wrap-bg">
          <div class="login-wrapper">
            <div class="loginbox">
              <div class="w-100">
                <div class="img-logo">
                  <img src="{% static 'assets/img/logo.png' %}" class="img-fluid" alt="Logo">
                  <div class="back-home">
                    <a href="{% url 'home' %}">Back to Home</a>
                  </div>
                </div>
                <br>
                {% load socialaccount %}
                <a href="{% provider_login_url 'google' %}?next=/dashboard" class="btn btn-primary btn-start"><img src="{% static 'assets/img/net-icon-01.png' %}" class="img-fluid" alt="Logo"> Signin using Google</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Core Js -->
    {% include 'structure/core-auth.html' %}
    <!--Core ends-->
  </body>
  <!-- [Body] end -->
</html>