{% load static %}
<!DOCTYPE html>
<html lang="en">
  <!-- [Head] start -->
  {% include 'structure/head-auth.html' %}
  <!-- [Head] end -->

  <!-- [Body] Start -->
  <body>
    <div class="main-wrapper log-wrap">
      <div class="row">
        <div class="col-md-6 login-bg">
          <div class="owl-carousel login-slide owl-theme">
            <div class="welcome-login">
              <div class="login-banner">
                <img src="{% static 'assets/img/login-img.png' %}" class="img-fluid" alt="Logo">
              </div>
              <div class="mentor-course text-center">
                <h2>Welcome to <br>CuriosityBytes Courses. </h2>
                <p>Start discovering your interests at CuriosityBytes</p>
              </div>
            </div>
            <div class="welcome-login">
              <div class="login-banner">
                <img src="{% static 'assets/img/login-img.png' %}" class="img-fluid" alt="Logo">
              </div>
              <div class="mentor-course text-center">
                <h2>Welcome to <br>CuriosityBytes Courses. </h2>
                <p>Learn about all the path available to you at CuriosityBytes</p>
              </div>
            </div>
            <div class="welcome-login">
              <div class="login-banner">
                <img src="{% static 'assets/img/login-img.png' %}" class="img-fluid" alt="Logo">
              </div>
              <div class="mentor-course text-center">
                <h2>Welcome to <br>CuriosityBytes Courses. </h2>
                <p>Carve your successful future with CuriosityBytes</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 login-wrap-bg">
          <div class="login-wrapper">
            <div class="loginbox">
              <div class="w-100">
                <div class="img-logo">
                  <img src="{% static 'assets/img/logo.png' %}" class="img-fluid" alt="Logo">
                  <div class="back-home">
                    <a href="{% url 'home' %}">Back to Home</a>
                  </div>
                </div>
                {% comment %} <h1>Login Here</h1> {% endcomment %}
                {% comment %} <form action="https://curiositybytes.tech">
                  <div class="input-block">
                    <label class="form-control-label">Email</label>
                    <input type="email" class="form-control" placeholder="Enter your email address">
                  </div>
                  <div class="input-block">
                    <label class="form-control-label">Password</label>
                    <div class="pass-group">
                      <input type="password" class="form-control pass-input" placeholder="Enter your password">
                      <span class="feather-eye toggle-password"></span>
                    </div>
                  </div>
                  <div class="forgot">
                    <span>
                      <a class="forgot-link" href="#">Forgot Password ?</a>
                    </span>
                  </div>
                  <div class="remember-me">
                    <label class="custom_check mr-2 mb-0 d-inline-flex remember-me"> Remember me <input type="checkbox" name="radio">
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <div class="d-grid">
                    <button class="btn btn-primary btn-start" type="submit">Sign In</button>
                  </div>
                </form> {% endcomment %}
                <br>
                {% load socialaccount %}
                <a href="{% provider_login_url 'google' %}?next=/dashboard" class="btn btn-primary btn-start"><img src="{% static 'assets/img/net-icon-01.png' %}" class="img-fluid" alt="Logo"> Signin using Google</a>
              </div>
            </div>
            <div class="google-bg text-center">
              {% comment %} <span>
                <a href="#">Or sign in with</a>
              </span>
              <div class="sign-google">
                <ul>
                  <li>
                    <a href="#">
                      <img src="{% static 'assets/img/net-icon-01.png' %}" class="img-fluid" alt="Logo"> Sign In using Google </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="{% static 'assets/img/net-icon-02.png' %}" class="img-fluid" alt="Logo">Sign In using Facebook </a>
                  </li>
                </ul>
              </div> {% endcomment %}
              {% comment %} <p class="mb-0">New User ? <a href="{% url 'signup' %}">Create an Account</a> {% endcomment %}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Core Js -->
    {% include 'structure/core-auth.html' %}
    <!--Core ends-->
  </body>
  <!-- [Body] end -->
</html>