{% load static %}
<!DOCTYPE html>
<html lang="en">
  <!-- [Head] start -->
  {% include 'structure/head-dash.html' %}
  <!-- [Head] end -->
  
<style>
.shorts {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
</style>

  <!-- [Body] Start -->
  <body>
    <div class="main-wrapper">
      <!--Header-->
      {% include 'structure/header-dash.html' %}
      <!--Header ends-->
      <div class="breadcrumb-bar breadcrumb-bar-info">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-12">
              <div class="breadcrumb-list">
                <h2 class="breadcrumb-title">Search History</h2>
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      Home
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Search History</li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-content">
        <div class="container">
          <div class="row">
            <div class="col-xl-12 col-lg-12">
              <div class="settings-widget card-details">
                <div class="settings-menu p-0">
                  <div class="profile-heading">
                    <h3>Search History</h3>
                  </div>
                  <div class="checkout-form">
                    <div class="table-responsive custom-table">
                      <table class="table table-nowrap mb-0">
                        <thead>
                          <tr>
                            <th>Query</th>
                            <th>Searched at</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for history in search_history %}
                            <tr>
                              <td>
                                <span class="title-course">{{history.search_query}}</span>
                              </td>
                              <td>
                                <span class="title-course">{{history.searched_at}}</span>
                              </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--footer-->
      {% include 'structure/footer-alt.html' %}
      <!--footer ends-->
    </div>
    
  </body>
</html>